@media print {


    h3, h4 {
        page-break-after: avoid;
    }

    .page {
        page-break-after: always;

        margin: 0;
        border-radius: 0;
        border: 0;
        box-shadow: 0;
    }

    h2 {
        margin-top: 0em !important;
    }

}
