.synopsis {

}

table {
  border-spacing: 0;
}

table#top {
  width: 100%;
  margin-bottom: 15px;
}

.right {
  text-align: right;
}

table#data {
  border: 1px solid black;
  border-top: 0;
  width: 100%;
}

table#data .border-top td {
  border-top: 1px solid black;
}

td {
  padding: 2px 5px;
}

.bold {
  font-weight: bold;
}

.pre {
  text-align:justify;
  white-space: pre-line;
  padding: 5px;
}
