html, body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(204,204,204);
  margin: 50px;
}

.page.A4{

  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);


  margin-bottom: 30px;

  white-space:pre-line;

  padding: 2cm;
}

.inner {
  height: 100%;
  width: 100%;
  //overflow: hidden;
}

.test {
  padding: 50px;
}

@media print {
  .page.A4 {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
