<page>

  <h1 skip>Table of Contents</h1>

  <ul id="root">
    <li ng-repeat="h1 in headingList" ng-init="h1Index = $index + 1">
      <div class="liH1" ng-click="goToAnchor('h-' + h1Index)">
        <span class="index">{{h1Index}}</span>
        <span class="name">{{h1.name}}</span>
        <span class="pageNumber">{{h1.page}}</span>
      </div>
      <ul>
        <li ng-repeat="h2 in h1.items" ng-init="h2Index = $index + 1">
          <div class="liH2" ng-click="goToAnchor('h-' + h1Index + '.' + h2Index)">
            <span class="index">{{h1Index}}.{{h2Index}}</span>
            <span class="name">{{h2.name}}</span>
            <span class="pageNumber">{{h2.page}}</span>
          </div>
          <ul>
            <li ng-repeat="h3 in h2.items" ng-init="h3Index = $index + 1">
              <div class="liH3" ng-click="goToAnchor('h-' + h1Index + '.' + h2Index + '.' + h3Index)">
                <span class="index">{{h1Index}}.{{h2Index}}.{{h3Index}}</span>
                <span class="name">{{h3.name}}</span>
                <span class="pageNumber">{{h3.page}}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</page>
