<page>

  <h1>Introduction</h1>

  Once upon a time I had to write an essay and had to use citing. I did not want to install Latex, don't get me wrong, I like Latex. But I did not want to install <b>2.4GB</b> just to be able to make a couple of citations. So I thought: "Angular would work fine for this!". I can do citeing by typing <span>{{</span>'criteria' | cite<span>}}</span> = ({{'criteria' | cite}}). Sorry for incomplete documentation :/




  <figure name="design2evaluation" width="40%" src="img/design2evaluation.png" text="Development process"></figure>

  <h2>Methods</h2>
  <h3>Questionnaire</h3>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur {{'duemcomparison' | fig}}.
  <h3>More headings</h3>
  Blah blah
</page>

<page>
  <h1>This is an H1 heading</h1>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  <h1>A third heading</h1>
  <h2>Intro</h2>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  <h1 skip>A Secret heading</h1>
  This heading is not showing up in Table of Contents nor get a number because I added "skip" to the h1.

  <h2>More content</h2>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</page>
