<clearpage></clearpage>

<h1 skip>Sources</h1>

<!--
<ul class="sources">
    <li ng-repeat="cite in cites">
        <span ng-if="cite.author">{{cite.author}} </span>
        <span ng-if="cite.year">({{cite.year}}) </span>
        <span ng-if="cite.title">{{cite.title}}, </span>
        <span ng-if="cite.journal">{{cite.journal}}.</span>
        <span ng-if="cite.pages">Pages: {{cite.pages}}. </span>
        <span ng-if="cite.ISSN">ISSN: {{cite.ISSN}}, </span>
        <span ng-if="cite.DOI">DOI={{cite.DOI}}.</span>
    </li>
</ul>-->

<div class="sources" ng-repeat="cite in $root.vars.cites">
  <span ng-if="cite.author">{{cite.author}} </span>
  <span ng-if="cite.year">({{cite.year}}) </span>
  <span ng-if="cite.title">{{cite.title}}, </span>
  <span ng-if="cite.journal">{{cite.journal}}.</span>
  <span ng-if="cite.pages">Pages: {{cite.pages}}. </span>
  <span ng-if="cite.ISSN">ISSN: {{cite.ISSN}}, </span>
  <span ng-if="cite.DOI">DOI={{cite.DOI}}.</span>
</div>
